.container {
    margin-top: 2rem;
    width: 70%;
  }
.card {
    margin-bottom: 1rem;
}
.card-body {
    padding: 1rem;
    background-color: antiquewhite;
}
.otsikko {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    color: antiquewhite;
    margin-bottom: 0;
}